In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor

C:\Users\shrad\Anaconda2\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [75]:
acq_data = ['Id', 'chan','Name', 'IntRate', 'UnpaidPrinciple', 'LoanDur', 'date_1', 'Payment_one', 'LTV', 'CLTV',
           'Borrow', 'DTI', 'credit_score', 'homeloan','loanreason', 'prop_type', 'No_units', 'status', 'state','address',
           'Mortgage','type','creditscore1', 'Mortgagetype','Mort'];


perf_data = ['Id','month','col3','curintrate','col5','Age','maturity_date','remaining_time','col9','col10','col11','flag','col13',
            'date','lastpaymentdate','closureDate','col17','col18','col19','col20','col21','col22','col23','col24','col25',
            'col26','col27','col28','col29']

In [76]:
processed_acq = pd.read_csv('2000Q1'+'/Acquisition_2000Q1.txt', sep = '|',names = acq_data,index_col=False)
processed_per = pd.read_csv('2000Q1'+'/Performance_2000Q1.txt',sep = '|', names = perf_data, usecols=[0, 15], index_col=False)

In [77]:
print processed_per

                   Id closureDate
0        100007365142         NaN
1        100007365142         NaN
2        100007365142         NaN
3        100007365142         NaN
4        100007365142         NaN
5        100007365142         NaN
6        100007365142         NaN
7        100007365142         NaN
8        100007365142         NaN
9        100007365142         NaN
10       100007365142         NaN
11       100007365142         NaN
12       100007365142         NaN
13       100007365142         NaN
14       100007365142         NaN
15       100007365142         NaN
16       100007365142         NaN
17       100007365142         NaN
18       100007365142         NaN
19       100007365142         NaN
20       100007365142         NaN
21       100007365142         NaN
22       100007365142         NaN
23       100007365142         NaN
24       100007365142         NaN
25       100007365142         NaN
26       100007365142         NaN
27       100007365142         NaN
28       100007365142         NaN
29       100007365142         NaN
...               ...         ...
9086735  999999117079         NaN
9086736  999999117079         NaN
9086737  999999117079         NaN
9086738  999999117079         NaN
9086739  999999117079         NaN
9086740  999999117079         NaN
9086741  999999117079         NaN
9086742  999999117079         NaN
9086743  999999117079         NaN
9086744  999999117079         NaN
9086745  999999117079         NaN
9086746  999999117079         NaN
9086747  999999117079         NaN
9086748  999999117079         NaN
9086749  999999117079         NaN
9086750  999999117079         NaN
9086751  999999117079         NaN
9086752  999999117079         NaN
9086753  999999117079         NaN
9086754  999999117079         NaN
9086755  999999117079         NaN
9086756  999999117079         NaN
9086757  999999117079         NaN
9086758  999999117079         NaN
9086759  999999117079         NaN
9086760  999999117079         NaN
9086761  999999117079         NaN
9086762  999999117079         NaN
9086763  999999117079         NaN
9086764  999999117079         NaN

[9086765 rows x 2 columns]

In [78]:
processed_per.drop_duplicates(subset='Id', keep='last', inplace=True)
new_data = pd.merge(processed_acq, processed_per, on='Id', how='inner')

#new_data.rename(index=str, columns={"closureDate": 'Default'}, inplace=True)

In [79]:
print new_data['closureDate']

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
5                NaN
6                NaN
7                NaN
8                NaN
9                NaN
10               NaN
11               NaN
12               NaN
13               NaN
14               NaN
15               NaN
16               NaN
17               NaN
18               NaN
19               NaN
20               NaN
21               NaN
22               NaN
23               NaN
24               NaN
25               NaN
26               NaN
27               NaN
28               NaN
29               NaN
             ...
246833           NaN
246834           NaN
246835           NaN
246836           NaN
246837           NaN
246838           NaN
246839           NaN
246840           NaN
246841           NaN
246842           NaN
246843           NaN
246844           NaN
246845           NaN
246846           NaN
246847           NaN
246848           NaN
246849    03/01/2005
246850           NaN
246851           NaN
246852           NaN
246853           NaN
246854           NaN
246855           NaN
246856           NaN
246857           NaN
246858           NaN
246859           NaN
246860           NaN
246861           NaN
246862           NaN
Name: closureDate, Length: 246863, dtype: object

In [58]:
print new_data['closureDate']

0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
5                NaN
6                NaN
7                NaN
8                NaN
9                NaN
10               NaN
11               NaN
12               NaN
13               NaN
14               NaN
15               NaN
16               NaN
17               NaN
18               NaN
19               NaN
20               NaN
21               NaN
22               NaN
23               NaN
24               NaN
25               NaN
26               NaN
27               NaN
28               NaN
29               NaN
             ...
246833           NaN
246834           NaN
246835           NaN
246836           NaN
246837           NaN
246838           NaN
246839           NaN
246840           NaN
246841           NaN
246842           NaN
246843           NaN
246844           NaN
246845           NaN
246846           NaN
246847           NaN
246848           NaN
246849    03/01/2005
246850           NaN
246851           NaN
246852           NaN
246853           NaN
246854           NaN
246855           NaN
246856           NaN
246857           NaN
246858           NaN
246859           NaN
246860           NaN
246861           NaN
246862           NaN
Name: closureDate, Length: 246863, dtype: object

In [80]:
new_data['closureDate'].fillna(0,inplace=True)
length =  len(new_data['closureDate'])
for i in range(0,length):
    if new_data['closureDate'][i] != 0:
        new_data['closureDate'][i] = 1

new_data['closureDate'] = new_data['closureDate'].astype(int)

C:\Users\shrad\Anaconda2\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [81]:
print new_data

                  Id chan                                       Name  IntRate  \
0       100007365142    R                    JPMORGAN CHASE BANK, NA    8.000
1       100007386460    B                    JPMORGAN CHASE BANK, NA    7.875
2       100011322040    C                               AMTRUST BANK    7.750
3       100015192562    R                                      OTHER    8.500
4       100015874399    C                         CITIMORTGAGE, INC.    8.750
5       100017922445    C                               AMTRUST BANK    8.250
6       100019048933    C                                      OTHER    7.500
7       100020205696    R  FIRST TENNESSEE BANK NATIONAL ASSOCIATION    7.625
8       100021703104    C                    JPMORGAN CHASE BANK, NA    8.000
9       100023274028    R  FIRST TENNESSEE BANK NATIONAL ASSOCIATION    8.000
10      100026859568    C  FIRST TENNESSEE BANK NATIONAL ASSOCIATION    8.375
11      100028993931    R                     WELLS FARGO BANK, N.A.    8.000
12      100032678432    R                     WELLS FARGO BANK, N.A.    7.875
13      100033892603    R                     WELLS FARGO BANK, N.A.    8.125
14      100035719682    R                   JP MORGAN CHASE BANK, NA    8.000
15      100036915856    R                     WELLS FARGO BANK, N.A.    7.750
16      100048724218    B                    JPMORGAN CHASE BANK, NA    7.750
17      100057706656    B                         FLAGSTAR BANK, FSB    8.250
18      100069564325    C                    JPMORGAN CHASE BANK, NA    8.750
19      100072038496    R                    JPMORGAN CHASE BANK, NA    7.750
20      100076749532    B                    JPMORGAN CHASE BANK, NA    9.250
21      100077104442    B                                      OTHER    8.500
22      100079064875    R                         GMAC MORTGAGE, LLC    8.375
23      100088638564    R                  USAA FEDERAL SAVINGS BANK    8.250
24      100094005643    R                                      OTHER    7.875
25      100094030068    C                         CITIMORTGAGE, INC.    7.750
26      100100228738    R                    JPMORGAN CHASE BANK, NA    8.000
27      100111651961    R                      BANK OF AMERICA, N.A.    8.500
28      100117450928    R                    JPMORGAN CHASE BANK, NA    7.750
29      100117997393    R                    JPMORGAN CHASE BANK, NA    7.250
...              ...  ...                                        ...      ...
246833  999875562147    B                    JPMORGAN CHASE BANK, NA    7.750
246834  999881668030    R                      BANK OF AMERICA, N.A.    8.250
246835  999882007624    C                    JPMORGAN CHASE BANK, NA    7.250
246836  999883709210    R                                      OTHER    8.000
246837  999888109137    C                      BANK OF AMERICA, N.A.    7.750
246838  999889354741    R                         GMAC MORTGAGE, LLC    8.250
246839  999890845355    C                     SUNTRUST MORTGAGE INC.    8.250
246840  999899450666    R                    JPMORGAN CHASE BANK, NA    8.125
246841  999900305487    B  JPMORGAN CHASE BANK, NATIONAL ASSOCIATION    7.875
246842  999905037653    C                    JPMORGAN CHASE BANK, NA    8.500
246843  999907473579    R                       RBC MORTGAGE COMPANY    8.500
246844  999916660808    R                               REGIONS BANK    7.750
246845  999919322389    R    BISHOPS GATE RESIDENTIAL MORTGAGE TRUST    8.000
246846  999945338392    R                                      OTHER    8.500
246847  999945757326    C                      BANK OF AMERICA, N.A.    8.125
246848  999950713577    C                    JPMORGAN CHASE BANK, NA    8.500
246849  999957123404    B                         FLAGSTAR BANK, FSB    7.875
246850  999962992508    B                     SUNTRUST MORTGAGE INC.    7.375
246851  999965252350    C                      BANK OF AMERICA, N.A.    7.875
246852  999968041391    B                 WASHTENAW MORTGAGE COMPANY    8.250
246853  999968123207    R                       RBC MORTGAGE COMPANY    7.875
246854  999974590614    B                                      OTHER    7.875
246855  999981621502    R                    JPMORGAN CHASE BANK, NA    7.750
246856  999987838980    C                               AMTRUST BANK    8.500
246857  999988249024    R                       RBC MORTGAGE COMPANY    8.000
246858  999989905400    R                         GMAC MORTGAGE, LLC    7.875
246859  999990576970    R                                      OTHER    7.875
246860  999991453348    R    BISHOPS GATE RESIDENTIAL MORTGAGE TRUST    7.375
246861  999991827071    R                         GMAC MORTGAGE, LLC    8.625
246862  999999117079    B                    JPMORGAN CHASE BANK, NA    7.750

        UnpaidPrinciple  LoanDur   date_1 Payment_one   LTV  CLTV  \
0                 75000      360  12/1999     02/2000  79.0   NaN
1                 55000      180  01/2000     03/2000  69.0   NaN
2                123000      360  11/1999     01/2000  80.0   NaN
3                 51000      360  02/2000     04/2000  95.0   NaN
4                242000      360  02/2000     04/2000  95.0   NaN
5                240000      360  12/1999     02/2000  77.0   NaN
6                 52000      180  12/1999     02/2000  95.0   NaN
7                225000      360  07/1999     09/1999  64.0   NaN
8                120000      360  02/2000     04/2000  75.0   NaN
9                130000      360  01/2000     03/2000  61.0   NaN
10               107000      360  02/2000     04/2000  95.0   NaN
11                37000      180  02/2000     04/2000  63.0   NaN
12                60000      360  12/1999     02/2000  74.0   NaN
13               106000      360  01/2000     03/2000  80.0   NaN
14                60000      360  01/2000     03/2000  97.0   NaN
15               135000      360  01/2000     03/2000  73.0   NaN
16               153000      360  12/1999     02/2000  80.0   NaN
17               137000      360  12/1999     02/2000  80.0   NaN
18               107000      360  11/1999     01/2000  95.0   NaN
19                95000      360  02/2000     04/2000  63.0   NaN
20                55000      360  12/1999     02/2000  80.0   NaN
21                72000      360  12/1999     02/2000  95.0   NaN
22               175000      360  01/2000     03/2000  80.0   NaN
23               202000      360  01/2000     03/2000  80.0   NaN
24                95000      360  11/1999     01/2000  47.0   NaN
25               152000      360  11/1999     01/2000  85.0   NaN
26                84000      360  01/2000     03/2000  75.0   NaN
27                41000      360  01/2000     04/2000  80.0   NaN
28               131000      360  11/1999     01/2000  73.0   NaN
29                50000      180  12/1999     02/2000  77.0   NaN
...                 ...      ...      ...         ...   ...   ...
246833           253000      360  01/2000     03/2000  72.0   NaN
246834            69000      360  01/2000     03/2000  75.0   NaN
246835            60000      180  01/2000     03/2000  75.0   NaN
246836            67000      360  11/1999     01/2000  50.0   NaN
246837           140000      360  12/1999     02/2000  80.0   NaN
246838            72000      240  12/1999     02/2000  87.0   NaN
246839           219000      360  01/2000     03/2000  88.0   NaN
246840            24000      360  12/1999     02/2000  97.0   NaN
246841            47000      360  11/1999     01/2000  80.0   NaN
246842           160000      360  01/2000     03/2000  80.0   NaN
246843            43000      360  12/1999     02/2000  90.0   NaN
246844           128000      360  01/2000     03/2000  75.0   NaN
246845           253000      360  02/2000     04/2000  94.0   NaN
246846            52000      360  01/2000     03/2000  95.0   NaN
246847           170000      360  02/2000     04/2000  67.0   NaN
246848           124000      360  02/2000     04/2000  85.0   NaN
246849            56000      180  12/1999     02/2000  52.0   NaN
246850           200000      360  01/2000     03/2000  67.0   NaN
246851           216000      360  01/2000     03/2000  80.0   NaN
246852           114000      180  02/2000     04/2000  90.0   NaN
246853           124000      360  12/1999     02/2000  80.0   NaN
246854           110000      360  12/1999     02/2000  62.0   NaN
246855           147000      360  12/1999     02/2000  80.0   NaN
246856           154000      360  02/2000     04/2000  80.0  90.0
246857           253000      360  01/2000     03/2000  89.0   NaN
246858            93000      360  01/2000     03/2000  68.0   NaN
246859           184000      360  01/2000     03/2000  80.0   NaN
246860            60000      360  12/1999     02/2000  71.0   NaN
246861            50000      360  11/1999     01/2000  22.0   NaN
246862            70000      180  02/2000     04/2000  78.0   NaN

           ...       No_units  status  state address Mortgage type  \
0          ...              1       P     PA     173      NaN  FRM
1          ...              1       P     MD     208      NaN  FRM
2          ...              1       P     MO     630      NaN  FRM
3          ...              1       P     GA     316     25.0  FRM
4          ...              1       P     FL     335     30.0  FRM
5          ...              1       P     MI     483      NaN  FRM
6          ...              1       P     FL     347     30.0  FRM
7          ...              1       P     WA     980      NaN  FRM
8          ...              1       P     CT      63      NaN  FRM
9          ...              1       P     GA     300      NaN  FRM
10         ...              1       P     MO     633     25.0  FRM
11         ...              1       P     NC     286      NaN  FRM
12         ...              1       P     FL     346      NaN  FRM
13         ...              1       P     FL     334      NaN  FRM
14         ...              1       P     MI     491     35.0  FRM
15         ...              1       P     NJ      70      NaN  FRM
16         ...              1       S     OR     977      NaN  FRM
17         ...              1       P     OH     450      NaN  FRM
18         ...              1       P     CA     917     30.0  FRM
19         ...              1       P     NM     871      NaN  FRM
20         ...              1       S     OH     451      NaN  FRM
21         ...              1       P     FL     330     30.0  FRM
22         ...              1       P     CO     812      NaN  FRM
23         ...              1       P     OH     442      NaN  FRM
24         ...              1       P     GA     300      NaN  FRM
25         ...              1       P     NV     891     25.0  FRM
26         ...              1       P     IN     462      NaN  FRM
27         ...              1       S     TX     770      NaN  FRM
28         ...              1       P     CA     912      NaN  FRM
29         ...              1       S     CA     959      NaN  FRM
...        ...            ...     ...    ...     ...      ...  ...
246833     ...              1       P     CA     920      NaN  FRM
246834     ...              1       P     TN     379      NaN  FRM
246835     ...              1       P     NC     283      NaN  FRM
246836     ...              1       P     GA     306      NaN  FRM
246837     ...              1       P     CO     815      NaN  FRM
246838     ...              1       P     ME      40     12.0  FRM
246839     ...              1       P     ID     832     25.0  FRM
246840     ...              1       P     FL     330     30.0  FRM
246841     ...              1       S     MD     218      NaN  FRM
246842     ...              1       P     AZ     852      NaN  FRM
246843     ...              1       P     IN     461     17.0  FRM
246844     ...              1       P     IN     476      NaN  FRM
246845     ...              1       P     VA     201     30.0  FRM
246846     ...              1       P     TX     785     25.0  FRM
246847     ...              1       P     CA     907      NaN  FRM
246848     ...              1       P     TX     750     12.0  FRM
246849     ...              1       P     MI     482      NaN  FRM
246850     ...              1       P     PA     160      NaN  FRM
246851     ...              1       P     CA     902      NaN  FRM
246852     ...              1       P     IL     606     12.0  FRM
246853     ...              1       P     FL     334      NaN  FRM
246854     ...              1       P     OH     440      NaN  FRM
246855     ...              1       P     CO     800      NaN  FRM
246856     ...              1       P     MN     554      NaN  FRM
246857     ...              1       P     IL     606     17.0  FRM
246858     ...              1       P     TX     760      NaN  FRM
246859     ...              1       P     TN     378      NaN  FRM
246860     ...              1       P     GA     300      NaN  FRM
246861     ...              2       P     NY     114      NaN  FRM
246862     ...              1       P     VA     232      NaN  FRM

        creditscore1 Mortgagetype Mort  closureDate
0                NaN          NaN    N            0
1                NaN          NaN    N            0
2                NaN          NaN    N            0
3                NaN          1.0    N            0
4                NaN          1.0    N            0
5              731.0          NaN    N            0
6                NaN          1.0    N            0
7              770.0          NaN    N            0
8                NaN          NaN    N            0
9              782.0          NaN    N            0
10               NaN          1.0    N            0
11               NaN          NaN    N            0
12             778.0          NaN    N            0
13               NaN          NaN    N            0
14               NaN          1.0    N            0
15             760.0          NaN    N            0
16               NaN          NaN    N            0
17               NaN          NaN    N            0
18               NaN          1.0    N            0
19               NaN          NaN    N            0
20             718.0          NaN    N            0
21               NaN          1.0    N            0
22             791.0          NaN    N            0
23             686.0          NaN    N            0
24             784.0          NaN    N            0
25               NaN          1.0    N            0
26             671.0          NaN    N            0
27             678.0          NaN    N            0
28               NaN          NaN    N            0
29               NaN          NaN    N            0
...              ...          ...  ...          ...
246833         758.0          NaN    N            0
246834         545.0          NaN    N            0
246835         728.0          NaN    N            0
246836           NaN          NaN    N            0
246837         747.0          NaN    N            0
246838           NaN          1.0    N            0
246839         680.0          1.0    N            0
246840           NaN          1.0    N            0
246841           NaN          NaN    N            0
246842         750.0          NaN    N            0
246843           NaN          1.0    N            0
246844         735.0          NaN    N            0
246845           NaN          1.0    Y            0
246846           NaN          1.0    N            0
246847         740.0          NaN    N            0
246848         611.0          1.0    N            0
246849           NaN          NaN    N            1
246850         792.0          NaN    N            0
246851           NaN          NaN    N            0
246852           NaN          1.0    N            0
246853         773.0          NaN    N            0
246854           NaN          NaN    N            0
246855         758.0          NaN    N            0
246856           NaN          NaN    N            0
246857         770.0          1.0    N            0
246858         661.0          NaN    N            0
246859         652.0          NaN    N            0
246860           NaN          NaN    N            0
246861           NaN          NaN    N            0
246862           NaN          NaN    N            0

[246863 rows x 26 columns]

In [82]:
new_data['dateMonth'] = new_data['date_1'].apply(lambda a: a.split('/')[0].strip()).astype(int)
new_data['dateYear'] = new_data['date_1'].apply(lambda a: a.split('/')[1].strip()).astype(int)

new_data['paymentMonth'] =  new_data['Payment_one'].apply(lambda a: a.split('/')[0].strip()).astype(int)
new_data['paymentYear'] =  new_data['Payment_one'].apply(lambda a: a.split('/')[1].strip()).astype(int)


new_data.drop(['date_1','Payment_one'], axis=1, inplace =True)

In [83]:
print new_data

                  Id chan                                       Name  IntRate  \
0       100007365142    R                    JPMORGAN CHASE BANK, NA    8.000
1       100007386460    B                    JPMORGAN CHASE BANK, NA    7.875
2       100011322040    C                               AMTRUST BANK    7.750
3       100015192562    R                                      OTHER    8.500
4       100015874399    C                         CITIMORTGAGE, INC.    8.750
5       100017922445    C                               AMTRUST BANK    8.250
6       100019048933    C                                      OTHER    7.500
7       100020205696    R  FIRST TENNESSEE BANK NATIONAL ASSOCIATION    7.625
8       100021703104    C                    JPMORGAN CHASE BANK, NA    8.000
9       100023274028    R  FIRST TENNESSEE BANK NATIONAL ASSOCIATION    8.000
10      100026859568    C  FIRST TENNESSEE BANK NATIONAL ASSOCIATION    8.375
11      100028993931    R                     WELLS FARGO BANK, N.A.    8.000
12      100032678432    R                     WELLS FARGO BANK, N.A.    7.875
13      100033892603    R                     WELLS FARGO BANK, N.A.    8.125
14      100035719682    R                   JP MORGAN CHASE BANK, NA    8.000
15      100036915856    R                     WELLS FARGO BANK, N.A.    7.750
16      100048724218    B                    JPMORGAN CHASE BANK, NA    7.750
17      100057706656    B                         FLAGSTAR BANK, FSB    8.250
18      100069564325    C                    JPMORGAN CHASE BANK, NA    8.750
19      100072038496    R                    JPMORGAN CHASE BANK, NA    7.750
20      100076749532    B                    JPMORGAN CHASE BANK, NA    9.250
21      100077104442    B                                      OTHER    8.500
22      100079064875    R                         GMAC MORTGAGE, LLC    8.375
23      100088638564    R                  USAA FEDERAL SAVINGS BANK    8.250
24      100094005643    R                                      OTHER    7.875
25      100094030068    C                         CITIMORTGAGE, INC.    7.750
26      100100228738    R                    JPMORGAN CHASE BANK, NA    8.000
27      100111651961    R                      BANK OF AMERICA, N.A.    8.500
28      100117450928    R                    JPMORGAN CHASE BANK, NA    7.750
29      100117997393    R                    JPMORGAN CHASE BANK, NA    7.250
...              ...  ...                                        ...      ...
246833  999875562147    B                    JPMORGAN CHASE BANK, NA    7.750
246834  999881668030    R                      BANK OF AMERICA, N.A.    8.250
246835  999882007624    C                    JPMORGAN CHASE BANK, NA    7.250
246836  999883709210    R                                      OTHER    8.000
246837  999888109137    C                      BANK OF AMERICA, N.A.    7.750
246838  999889354741    R                         GMAC MORTGAGE, LLC    8.250
246839  999890845355    C                     SUNTRUST MORTGAGE INC.    8.250
246840  999899450666    R                    JPMORGAN CHASE BANK, NA    8.125
246841  999900305487    B  JPMORGAN CHASE BANK, NATIONAL ASSOCIATION    7.875
246842  999905037653    C                    JPMORGAN CHASE BANK, NA    8.500
246843  999907473579    R                       RBC MORTGAGE COMPANY    8.500
246844  999916660808    R                               REGIONS BANK    7.750
246845  999919322389    R    BISHOPS GATE RESIDENTIAL MORTGAGE TRUST    8.000
246846  999945338392    R                                      OTHER    8.500
246847  999945757326    C                      BANK OF AMERICA, N.A.    8.125
246848  999950713577    C                    JPMORGAN CHASE BANK, NA    8.500
246849  999957123404    B                         FLAGSTAR BANK, FSB    7.875
246850  999962992508    B                     SUNTRUST MORTGAGE INC.    7.375
246851  999965252350    C                      BANK OF AMERICA, N.A.    7.875
246852  999968041391    B                 WASHTENAW MORTGAGE COMPANY    8.250
246853  999968123207    R                       RBC MORTGAGE COMPANY    7.875
246854  999974590614    B                                      OTHER    7.875
246855  999981621502    R                    JPMORGAN CHASE BANK, NA    7.750
246856  999987838980    C                               AMTRUST BANK    8.500
246857  999988249024    R                       RBC MORTGAGE COMPANY    8.000
246858  999989905400    R                         GMAC MORTGAGE, LLC    7.875
246859  999990576970    R                                      OTHER    7.875
246860  999991453348    R    BISHOPS GATE RESIDENTIAL MORTGAGE TRUST    7.375
246861  999991827071    R                         GMAC MORTGAGE, LLC    8.625
246862  999999117079    B                    JPMORGAN CHASE BANK, NA    7.750

        UnpaidPrinciple  LoanDur   LTV  CLTV  Borrow   DTI     ...      \
0                 75000      360  79.0   NaN     1.0  62.0     ...
1                 55000      180  69.0   NaN     1.0  12.0     ...
2                123000      360  80.0   NaN     1.0  28.0     ...
3                 51000      360  95.0   NaN     1.0  27.0     ...
4                242000      360  95.0   NaN     1.0  47.0     ...
5                240000      360  77.0   NaN     2.0  19.0     ...
6                 52000      180  95.0   NaN     NaN   NaN     ...
7                225000      360  64.0   NaN     2.0  21.0     ...
8                120000      360  75.0   NaN     2.0  36.0     ...
9                130000      360  61.0   NaN     2.0  34.0     ...
10               107000      360  95.0   NaN     1.0  37.0     ...
11                37000      180  63.0   NaN     1.0  25.0     ...
12                60000      360  74.0   NaN     2.0  17.0     ...
13               106000      360  80.0   NaN     1.0  24.0     ...
14                60000      360  97.0   NaN     1.0  39.0     ...
15               135000      360  73.0   NaN     2.0  29.0     ...
16               153000      360  80.0   NaN     1.0  45.0     ...
17               137000      360  80.0   NaN     1.0  34.0     ...
18               107000      360  95.0   NaN     2.0  34.0     ...
19                95000      360  63.0   NaN     1.0  35.0     ...
20                55000      360  80.0   NaN     2.0  35.0     ...
21                72000      360  95.0   NaN     1.0  40.0     ...
22               175000      360  80.0   NaN     2.0  48.0     ...
23               202000      360  80.0   NaN     2.0  41.0     ...
24                95000      360  47.0   NaN     2.0  49.0     ...
25               152000      360  85.0   NaN     1.0  41.0     ...
26                84000      360  75.0   NaN     2.0  57.0     ...
27                41000      360  80.0   NaN     2.0  56.0     ...
28               131000      360  73.0   NaN     2.0  20.0     ...
29                50000      180  77.0   NaN     1.0   9.0     ...
...                 ...      ...   ...   ...     ...   ...     ...
246833           253000      360  72.0   NaN     2.0  53.0     ...
246834            69000      360  75.0   NaN     2.0  28.0     ...
246835            60000      180  75.0   NaN     2.0  15.0     ...
246836            67000      360  50.0   NaN     1.0  36.0     ...
246837           140000      360  80.0   NaN     2.0  52.0     ...
246838            72000      240  87.0   NaN     1.0  57.0     ...
246839           219000      360  88.0   NaN     2.0  42.0     ...
246840            24000      360  97.0   NaN     1.0  21.0     ...
246841            47000      360  80.0   NaN     1.0  40.0     ...
246842           160000      360  80.0   NaN     2.0   NaN     ...
246843            43000      360  90.0   NaN     1.0  29.0     ...
246844           128000      360  75.0   NaN     2.0  31.0     ...
246845           253000      360  94.0   NaN     1.0  40.0     ...
246846            52000      360  95.0   NaN     1.0  18.0     ...
246847           170000      360  67.0   NaN     2.0  35.0     ...
246848           124000      360  85.0   NaN     2.0  26.0     ...
246849            56000      180  52.0   NaN     1.0  36.0     ...
246850           200000      360  67.0   NaN     2.0  34.0     ...
246851           216000      360  80.0   NaN     1.0  35.0     ...
246852           114000      180  90.0   NaN     1.0  14.0     ...
246853           124000      360  80.0   NaN     2.0  25.0     ...
246854           110000      360  62.0   NaN     1.0  38.0     ...
246855           147000      360  80.0   NaN     2.0  25.0     ...
246856           154000      360  80.0  90.0     1.0  17.0     ...
246857           253000      360  89.0   NaN     2.0  31.0     ...
246858            93000      360  68.0   NaN     2.0  47.0     ...
246859           184000      360  80.0   NaN     2.0  35.0     ...
246860            60000      360  71.0   NaN     1.0   8.0     ...
246861            50000      360  22.0   NaN     1.0   NaN     ...
246862            70000      180  78.0   NaN     1.0  20.0     ...

        Mortgage type creditscore1 Mortgagetype  Mort closureDate dateMonth  \
0            NaN  FRM          NaN          NaN     N           0        12
1            NaN  FRM          NaN          NaN     N           0         1
2            NaN  FRM          NaN          NaN     N           0        11
3           25.0  FRM          NaN          1.0     N           0         2
4           30.0  FRM          NaN          1.0     N           0         2
5            NaN  FRM        731.0          NaN     N           0        12
6           30.0  FRM          NaN          1.0     N           0        12
7            NaN  FRM        770.0          NaN     N           0         7
8            NaN  FRM          NaN          NaN     N           0         2
9            NaN  FRM        782.0          NaN     N           0         1
10          25.0  FRM          NaN          1.0     N           0         2
11           NaN  FRM          NaN          NaN     N           0         2
12           NaN  FRM        778.0          NaN     N           0        12
13           NaN  FRM          NaN          NaN     N           0         1
14          35.0  FRM          NaN          1.0     N           0         1
15           NaN  FRM        760.0          NaN     N           0         1
16           NaN  FRM          NaN          NaN     N           0        12
17           NaN  FRM          NaN          NaN     N           0        12
18          30.0  FRM          NaN          1.0     N           0        11
19           NaN  FRM          NaN          NaN     N           0         2
20           NaN  FRM        718.0          NaN     N           0        12
21          30.0  FRM          NaN          1.0     N           0        12
22           NaN  FRM        791.0          NaN     N           0         1
23           NaN  FRM        686.0          NaN     N           0         1
24           NaN  FRM        784.0          NaN     N           0        11
25          25.0  FRM          NaN          1.0     N           0        11
26           NaN  FRM        671.0          NaN     N           0         1
27           NaN  FRM        678.0          NaN     N           0         1
28           NaN  FRM          NaN          NaN     N           0        11
29           NaN  FRM          NaN          NaN     N           0        12
...          ...  ...          ...          ...   ...         ...       ...
246833       NaN  FRM        758.0          NaN     N           0         1
246834       NaN  FRM        545.0          NaN     N           0         1
246835       NaN  FRM        728.0          NaN     N           0         1
246836       NaN  FRM          NaN          NaN     N           0        11
246837       NaN  FRM        747.0          NaN     N           0        12
246838      12.0  FRM          NaN          1.0     N           0        12
246839      25.0  FRM        680.0          1.0     N           0         1
246840      30.0  FRM          NaN          1.0     N           0        12
246841       NaN  FRM          NaN          NaN     N           0        11
246842       NaN  FRM        750.0          NaN     N           0         1
246843      17.0  FRM          NaN          1.0     N           0        12
246844       NaN  FRM        735.0          NaN     N           0         1
246845      30.0  FRM          NaN          1.0     Y           0         2
246846      25.0  FRM          NaN          1.0     N           0         1
246847       NaN  FRM        740.0          NaN     N           0         2
246848      12.0  FRM        611.0          1.0     N           0         2
246849       NaN  FRM          NaN          NaN     N           1        12
246850       NaN  FRM        792.0          NaN     N           0         1
246851       NaN  FRM          NaN          NaN     N           0         1
246852      12.0  FRM          NaN          1.0     N           0         2
246853       NaN  FRM        773.0          NaN     N           0        12
246854       NaN  FRM          NaN          NaN     N           0        12
246855       NaN  FRM        758.0          NaN     N           0        12
246856       NaN  FRM          NaN          NaN     N           0         2
246857      17.0  FRM        770.0          1.0     N           0         1
246858       NaN  FRM        661.0          NaN     N           0         1
246859       NaN  FRM        652.0          NaN     N           0         1
246860       NaN  FRM          NaN          NaN     N           0        12
246861       NaN  FRM          NaN          NaN     N           0        11
246862       NaN  FRM          NaN          NaN     N           0         2

        dateYear  paymentMonth paymentYear
0           1999             2        2000
1           2000             3        2000
2           1999             1        2000
3           2000             4        2000
4           2000             4        2000
5           1999             2        2000
6           1999             2        2000
7           1999             9        1999
8           2000             4        2000
9           2000             3        2000
10          2000             4        2000
11          2000             4        2000
12          1999             2        2000
13          2000             3        2000
14          2000             3        2000
15          2000             3        2000
16          1999             2        2000
17          1999             2        2000
18          1999             1        2000
19          2000             4        2000
20          1999             2        2000
21          1999             2        2000
22          2000             3        2000
23          2000             3        2000
24          1999             1        2000
25          1999             1        2000
26          2000             3        2000
27          2000             4        2000
28          1999             1        2000
29          1999             2        2000
...          ...           ...         ...
246833      2000             3        2000
246834      2000             3        2000
246835      2000             3        2000
246836      1999             1        2000
246837      1999             2        2000
246838      1999             2        2000
246839      2000             3        2000
246840      1999             2        2000
246841      1999             1        2000
246842      2000             3        2000
246843      1999             2        2000
246844      2000             3        2000
246845      2000             4        2000
246846      2000             3        2000
246847      2000             4        2000
246848      2000             4        2000
246849      1999             2        2000
246850      2000             3        2000
246851      2000             3        2000
246852      2000             4        2000
246853      1999             2        2000
246854      1999             2        2000
246855      1999             2        2000
246856      2000             4        2000
246857      2000             3        2000
246858      2000             3        2000
246859      2000             3        2000
246860      1999             2        2000
246861      1999             1        2000
246862      2000             4        2000

[246863 rows x 28 columns]

In [84]:
new_data.drop(['Mortgage','Mortgagetype','creditscore1','type','Id'], axis=1, inplace=True)