In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor

C:\Users\shrad\Anaconda2\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
acq_data = ['Id', 'chan','Name', 'IntRate', 'UnpaidPrinciple', 'LoanDur', 'date_1', 'Payment_one', 'LTV', 'CLTV',
           'Borrow', 'DTI', 'credit_score', 'homeloan','loanreason', 'prop_type', 'No_units', 'status', 'state','address',
           'Mortgage','type','creditscore1', 'Mortgagetype','Mort'];


perf_data = ['Id','month','col3','curintrate','col5','Age','maturity_date','remaining_time','col9','col10','col11','flag','col13',
            'date','lastpaymentdate','closureDate','col17','col18','col19','col20','col21','col22','col23','col24','col25',
            'col26','col27','col28','col29']

In [3]:
processed_acq = pd.read_csv('2000Q1'+'/Acquisition_2000Q1.txt', sep = '|',names = acq_data,index_col=False)
processed_per = pd.read_csv('2000Q1'+'/Performance_2000Q1.txt',sep = '|', names = perf_data, usecols=[0, 15], index_col=False)

In [4]:
processed_per.drop_duplicates(subset='Id', keep='last', inplace=True)
new_data = pd.merge(processed_acq, processed_per, on='Id', how='inner')

#new_data.rename(index=str, columns={"closureDate": 'Default'}, inplace=True)

In [5]:
new_data['closureDate'].fillna(0,inplace=True)
new_data.loc[new_data['closureDate'] != 0, 'closureDate'] = 1
# length =  len(new_data['closureDate'])
# for i in range(0,length):
#     if new_data['closureDate'][i] != 0:
#         new_data['closureDate'][i] = 1

# new_data['closureDate'] = new_data['closureDate'].astype(int)

In [6]:
new_data['dateMonth'] = new_data['date_1'].apply(lambda a: a.split('/')[0].strip()).astype(int)
new_data['dateYear'] = new_data['date_1'].apply(lambda a: a.split('/')[1].strip()).astype(int)

new_data['paymentMonth'] =  new_data['Payment_one'].apply(lambda a: a.split('/')[0].strip()).astype(int)
new_data['paymentYear'] =  new_data['Payment_one'].apply(lambda a: a.split('/')[1].strip()).astype(int)


new_data.drop(['date_1','Payment_one'], axis=1, inplace =True)

In [7]:
print new_data

                  Id chan                                       Name  IntRate  \
0       100007365142    R                    JPMORGAN CHASE BANK, NA    8.000
1       100007386460    B                    JPMORGAN CHASE BANK, NA    7.875
2       100011322040    C                               AMTRUST BANK    7.750
3       100015192562    R                                      OTHER    8.500
4       100015874399    C                         CITIMORTGAGE, INC.    8.750
5       100017922445    C                               AMTRUST BANK    8.250
6       100019048933    C                                      OTHER    7.500
7       100020205696    R  FIRST TENNESSEE BANK NATIONAL ASSOCIATION    7.625
8       100021703104    C                    JPMORGAN CHASE BANK, NA    8.000
9       100023274028    R  FIRST TENNESSEE BANK NATIONAL ASSOCIATION    8.000
10      100026859568    C  FIRST TENNESSEE BANK NATIONAL ASSOCIATION    8.375
11      100028993931    R                     WELLS FARGO BANK, N.A.    8.000
12      100032678432    R                     WELLS FARGO BANK, N.A.    7.875
13      100033892603    R                     WELLS FARGO BANK, N.A.    8.125
14      100035719682    R                   JP MORGAN CHASE BANK, NA    8.000
15      100036915856    R                     WELLS FARGO BANK, N.A.    7.750
16      100048724218    B                    JPMORGAN CHASE BANK, NA    7.750
17      100057706656    B                         FLAGSTAR BANK, FSB    8.250
18      100069564325    C                    JPMORGAN CHASE BANK, NA    8.750
19      100072038496    R                    JPMORGAN CHASE BANK, NA    7.750
20      100076749532    B                    JPMORGAN CHASE BANK, NA    9.250
21      100077104442    B                                      OTHER    8.500
22      100079064875    R                         GMAC MORTGAGE, LLC    8.375
23      100088638564    R                  USAA FEDERAL SAVINGS BANK    8.250
24      100094005643    R                                      OTHER    7.875
25      100094030068    C                         CITIMORTGAGE, INC.    7.750
26      100100228738    R                    JPMORGAN CHASE BANK, NA    8.000
27      100111651961    R                      BANK OF AMERICA, N.A.    8.500
28      100117450928    R                    JPMORGAN CHASE BANK, NA    7.750
29      100117997393    R                    JPMORGAN CHASE BANK, NA    7.250
...              ...  ...                                        ...      ...
246833  999875562147    B                    JPMORGAN CHASE BANK, NA    7.750
246834  999881668030    R                      BANK OF AMERICA, N.A.    8.250
246835  999882007624    C                    JPMORGAN CHASE BANK, NA    7.250
246836  999883709210    R                                      OTHER    8.000
246837  999888109137    C                      BANK OF AMERICA, N.A.    7.750
246838  999889354741    R                         GMAC MORTGAGE, LLC    8.250
246839  999890845355    C                     SUNTRUST MORTGAGE INC.    8.250
246840  999899450666    R                    JPMORGAN CHASE BANK, NA    8.125
246841  999900305487    B  JPMORGAN CHASE BANK, NATIONAL ASSOCIATION    7.875
246842  999905037653    C                    JPMORGAN CHASE BANK, NA    8.500
246843  999907473579    R                       RBC MORTGAGE COMPANY    8.500
246844  999916660808    R                               REGIONS BANK    7.750
246845  999919322389    R    BISHOPS GATE RESIDENTIAL MORTGAGE TRUST    8.000
246846  999945338392    R                                      OTHER    8.500
246847  999945757326    C                      BANK OF AMERICA, N.A.    8.125
246848  999950713577    C                    JPMORGAN CHASE BANK, NA    8.500
246849  999957123404    B                         FLAGSTAR BANK, FSB    7.875
246850  999962992508    B                     SUNTRUST MORTGAGE INC.    7.375
246851  999965252350    C                      BANK OF AMERICA, N.A.    7.875
246852  999968041391    B                 WASHTENAW MORTGAGE COMPANY    8.250
246853  999968123207    R                       RBC MORTGAGE COMPANY    7.875
246854  999974590614    B                                      OTHER    7.875
246855  999981621502    R                    JPMORGAN CHASE BANK, NA    7.750
246856  999987838980    C                               AMTRUST BANK    8.500
246857  999988249024    R                       RBC MORTGAGE COMPANY    8.000
246858  999989905400    R                         GMAC MORTGAGE, LLC    7.875
246859  999990576970    R                                      OTHER    7.875
246860  999991453348    R    BISHOPS GATE RESIDENTIAL MORTGAGE TRUST    7.375
246861  999991827071    R                         GMAC MORTGAGE, LLC    8.625
246862  999999117079    B                    JPMORGAN CHASE BANK, NA    7.750

        UnpaidPrinciple  LoanDur   LTV  CLTV  Borrow   DTI     ...      \
0                 75000      360  79.0   NaN     1.0  62.0     ...
1                 55000      180  69.0   NaN     1.0  12.0     ...
2                123000      360  80.0   NaN     1.0  28.0     ...
3                 51000      360  95.0   NaN     1.0  27.0     ...
4                242000      360  95.0   NaN     1.0  47.0     ...
5                240000      360  77.0   NaN     2.0  19.0     ...
6                 52000      180  95.0   NaN     NaN   NaN     ...
7                225000      360  64.0   NaN     2.0  21.0     ...
8                120000      360  75.0   NaN     2.0  36.0     ...
9                130000      360  61.0   NaN     2.0  34.0     ...
10               107000      360  95.0   NaN     1.0  37.0     ...
11                37000      180  63.0   NaN     1.0  25.0     ...
12                60000      360  74.0   NaN     2.0  17.0     ...
13               106000      360  80.0   NaN     1.0  24.0     ...
14                60000      360  97.0   NaN     1.0  39.0     ...
15               135000      360  73.0   NaN     2.0  29.0     ...
16               153000      360  80.0   NaN     1.0  45.0     ...
17               137000      360  80.0   NaN     1.0  34.0     ...
18               107000      360  95.0   NaN     2.0  34.0     ...
19                95000      360  63.0   NaN     1.0  35.0     ...
20                55000      360  80.0   NaN     2.0  35.0     ...
21                72000      360  95.0   NaN     1.0  40.0     ...
22               175000      360  80.0   NaN     2.0  48.0     ...
23               202000      360  80.0   NaN     2.0  41.0     ...
24                95000      360  47.0   NaN     2.0  49.0     ...
25               152000      360  85.0   NaN     1.0  41.0     ...
26                84000      360  75.0   NaN     2.0  57.0     ...
27                41000      360  80.0   NaN     2.0  56.0     ...
28               131000      360  73.0   NaN     2.0  20.0     ...
29                50000      180  77.0   NaN     1.0   9.0     ...
...                 ...      ...   ...   ...     ...   ...     ...
246833           253000      360  72.0   NaN     2.0  53.0     ...
246834            69000      360  75.0   NaN     2.0  28.0     ...
246835            60000      180  75.0   NaN     2.0  15.0     ...
246836            67000      360  50.0   NaN     1.0  36.0     ...
246837           140000      360  80.0   NaN     2.0  52.0     ...
246838            72000      240  87.0   NaN     1.0  57.0     ...
246839           219000      360  88.0   NaN     2.0  42.0     ...
246840            24000      360  97.0   NaN     1.0  21.0     ...
246841            47000      360  80.0   NaN     1.0  40.0     ...
246842           160000      360  80.0   NaN     2.0   NaN     ...
246843            43000      360  90.0   NaN     1.0  29.0     ...
246844           128000      360  75.0   NaN     2.0  31.0     ...
246845           253000      360  94.0   NaN     1.0  40.0     ...
246846            52000      360  95.0   NaN     1.0  18.0     ...
246847           170000      360  67.0   NaN     2.0  35.0     ...
246848           124000      360  85.0   NaN     2.0  26.0     ...
246849            56000      180  52.0   NaN     1.0  36.0     ...
246850           200000      360  67.0   NaN     2.0  34.0     ...
246851           216000      360  80.0   NaN     1.0  35.0     ...
246852           114000      180  90.0   NaN     1.0  14.0     ...
246853           124000      360  80.0   NaN     2.0  25.0     ...
246854           110000      360  62.0   NaN     1.0  38.0     ...
246855           147000      360  80.0   NaN     2.0  25.0     ...
246856           154000      360  80.0  90.0     1.0  17.0     ...
246857           253000      360  89.0   NaN     2.0  31.0     ...
246858            93000      360  68.0   NaN     2.0  47.0     ...
246859           184000      360  80.0   NaN     2.0  35.0     ...
246860            60000      360  71.0   NaN     1.0   8.0     ...
246861            50000      360  22.0   NaN     1.0   NaN     ...
246862            70000      180  78.0   NaN     1.0  20.0     ...

        Mortgage type creditscore1 Mortgagetype  Mort closureDate dateMonth  \
0            NaN  FRM          NaN          NaN     N           0        12
1            NaN  FRM          NaN          NaN     N           0         1
2            NaN  FRM          NaN          NaN     N           0        11
3           25.0  FRM          NaN          1.0     N           0         2
4           30.0  FRM          NaN          1.0     N           0         2
5            NaN  FRM        731.0          NaN     N           0        12
6           30.0  FRM          NaN          1.0     N           0        12
7            NaN  FRM        770.0          NaN     N           0         7
8            NaN  FRM          NaN          NaN     N           0         2
9            NaN  FRM        782.0          NaN     N           0         1
10          25.0  FRM          NaN          1.0     N           0         2
11           NaN  FRM          NaN          NaN     N           0         2
12           NaN  FRM        778.0          NaN     N           0        12
13           NaN  FRM          NaN          NaN     N           0         1
14          35.0  FRM          NaN          1.0     N           0         1
15           NaN  FRM        760.0          NaN     N           0         1
16           NaN  FRM          NaN          NaN     N           0        12
17           NaN  FRM          NaN          NaN     N           0        12
18          30.0  FRM          NaN          1.0     N           0        11
19           NaN  FRM          NaN          NaN     N           0         2
20           NaN  FRM        718.0          NaN     N           0        12
21          30.0  FRM          NaN          1.0     N           0        12
22           NaN  FRM        791.0          NaN     N           0         1
23           NaN  FRM        686.0          NaN     N           0         1
24           NaN  FRM        784.0          NaN     N           0        11
25          25.0  FRM          NaN          1.0     N           0        11
26           NaN  FRM        671.0          NaN     N           0         1
27           NaN  FRM        678.0          NaN     N           0         1
28           NaN  FRM          NaN          NaN     N           0        11
29           NaN  FRM          NaN          NaN     N           0        12
...          ...  ...          ...          ...   ...         ...       ...
246833       NaN  FRM        758.0          NaN     N           0         1
246834       NaN  FRM        545.0          NaN     N           0         1
246835       NaN  FRM        728.0          NaN     N           0         1
246836       NaN  FRM          NaN          NaN     N           0        11
246837       NaN  FRM        747.0          NaN     N           0        12
246838      12.0  FRM          NaN          1.0     N           0        12
246839      25.0  FRM        680.0          1.0     N           0         1
246840      30.0  FRM          NaN          1.0     N           0        12
246841       NaN  FRM          NaN          NaN     N           0        11
246842       NaN  FRM        750.0          NaN     N           0         1
246843      17.0  FRM          NaN          1.0     N           0        12
246844       NaN  FRM        735.0          NaN     N           0         1
246845      30.0  FRM          NaN          1.0     Y           0         2
246846      25.0  FRM          NaN          1.0     N           0         1
246847       NaN  FRM        740.0          NaN     N           0         2
246848      12.0  FRM        611.0          1.0     N           0         2
246849       NaN  FRM          NaN          NaN     N           1        12
246850       NaN  FRM        792.0          NaN     N           0         1
246851       NaN  FRM          NaN          NaN     N           0         1
246852      12.0  FRM          NaN          1.0     N           0         2
246853       NaN  FRM        773.0          NaN     N           0        12
246854       NaN  FRM          NaN          NaN     N           0        12
246855       NaN  FRM        758.0          NaN     N           0        12
246856       NaN  FRM          NaN          NaN     N           0         2
246857      17.0  FRM        770.0          1.0     N           0         1
246858       NaN  FRM        661.0          NaN     N           0         1
246859       NaN  FRM        652.0          NaN     N           0         1
246860       NaN  FRM          NaN          NaN     N           0        12
246861       NaN  FRM          NaN          NaN     N           0        11
246862       NaN  FRM          NaN          NaN     N           0         2

        dateYear  paymentMonth paymentYear
0           1999             2        2000
1           2000             3        2000
2           1999             1        2000
3           2000             4        2000
4           2000             4        2000
5           1999             2        2000
6           1999             2        2000
7           1999             9        1999
8           2000             4        2000
9           2000             3        2000
10          2000             4        2000
11          2000             4        2000
12          1999             2        2000
13          2000             3        2000
14          2000             3        2000
15          2000             3        2000
16          1999             2        2000
17          1999             2        2000
18          1999             1        2000
19          2000             4        2000
20          1999             2        2000
21          1999             2        2000
22          2000             3        2000
23          2000             3        2000
24          1999             1        2000
25          1999             1        2000
26          2000             3        2000
27          2000             4        2000
28          1999             1        2000
29          1999             2        2000
...          ...           ...         ...
246833      2000             3        2000
246834      2000             3        2000
246835      2000             3        2000
246836      1999             1        2000
246837      1999             2        2000
246838      1999             2        2000
246839      2000             3        2000
246840      1999             2        2000
246841      1999             1        2000
246842      2000             3        2000
246843      1999             2        2000
246844      2000             3        2000
246845      2000             4        2000
246846      2000             3        2000
246847      2000             4        2000
246848      2000             4        2000
246849      1999             2        2000
246850      2000             3        2000
246851      2000             3        2000
246852      2000             4        2000
246853      1999             2        2000
246854      1999             2        2000
246855      1999             2        2000
246856      2000             4        2000
246857      2000             3        2000
246858      2000             3        2000
246859      2000             3        2000
246860      1999             2        2000
246861      1999             1        2000
246862      2000             4        2000

[246863 rows x 28 columns]

In [8]:
new_data.drop(['Mortgage','Mortgagetype','creditscore1','type','Id'], axis=1, inplace=True)
# new_data.drop(['CLTV','LTV'],axis=1,inplace=True)

In [9]:
def getdummies(data):
    col = data.columns[data.isnull().any()]
    new_col = data[col]
    
    
    data.drop(new_col.columns, axis=1, inplace=True)
    objecttype = data.select_dtypes(include=['object'])
    cols = data.drop(objecttype.columns,axis=1)
    
    newdata = pd.DataFrame()
    for i in objecttype.columns:
        temp = pd.get_dummies(objecttype[i],drop_first=True)
        newdata = pd.concat([data,temp],axis=1)
        
    data = pd.concat([cols, newdata, new_col],axis=1).reset_index(drop=True)
    return data

In [10]:
from sklearn.metrics import mean_squared_error, r2_score
import sklearn as sk
import matplotlib.pyplot as plt

In [11]:

def random_forest_classifier(features,classification):
    features_train, features_test, classification_train, classification_test = train_test_split(features,classification,test_size=0.25,random_state=0)
    classifier = RandomForestClassifier(n_estimators=200)

    classifier = classifier.fit(features_train,classification_train)
    class_prediction = classifier.predict(features_test)

    x = list(range(len(class_prediction)))

    print class_prediction
    plt.scatter(x,class_prediction,color='red')

    plt.plot(x,classification_test,color='blue')


    plt.xticks(())
    plt.yticks(())
    plt.show()


    print("error mse")
    print(mean_squared_error(classification_test,class_prediction))
    print("variance score: 1 is perfect prediction")
    print(r2_score(classification_test,class_prediction))

    print(classification_report(classification_test,class_prediction))

# features = [[1,3,4,5],[2,67,1,4],[3423,8675,3123,554],[33,67,885,23],[313,367,88512,1223]]

# # classification = [[1],[0],[1],[0]]
# classification = [ 1,0,1,1,1]

# random_forest_classifier(features,classification)

In [12]:
new_val = getdummies(new_data)

In [13]:
print new_val

        IntRate  UnpaidPrinciple  LoanDur  No_units  address dateMonth  \
0         8.000            75000      360         1      173        12
1         7.875            55000      180         1      208         1
2         7.750           123000      360         1      630        11
3         8.500            51000      360         1      316         2
4         8.750           242000      360         1      335         2
5         8.250           240000      360         1      483        12
6         7.500            52000      180         1      347        12
7         7.625           225000      360         1      980         7
8         8.000           120000      360         1       63         2
9         8.000           130000      360         1      300         1
10        8.375           107000      360         1      633         2
11        8.000            37000      180         1      286         2
12        7.875            60000      360         1      346        12
13        8.125           106000      360         1      334         1
14        8.000            60000      360         1      491         1
15        7.750           135000      360         1       70         1
16        7.750           153000      360         1      977        12
17        8.250           137000      360         1      450        12
18        8.750           107000      360         1      917        11
19        7.750            95000      360         1      871         2
20        9.250            55000      360         1      451        12
21        8.500            72000      360         1      330        12
22        8.375           175000      360         1      812         1
23        8.250           202000      360         1      442         1
24        7.875            95000      360         1      300        11
25        7.750           152000      360         1      891        11
26        8.000            84000      360         1      462         1
27        8.500            41000      360         1      770         1
28        7.750           131000      360         1      912        11
29        7.250            50000      180         1      959        12
...         ...              ...      ...       ...      ...       ...
246833    7.750           253000      360         1      920         1
246834    8.250            69000      360         1      379         1
246835    7.250            60000      180         1      283         1
246836    8.000            67000      360         1      306        11
246837    7.750           140000      360         1      815        12
246838    8.250            72000      240         1       40        12
246839    8.250           219000      360         1      832         1
246840    8.125            24000      360         1      330        12
246841    7.875            47000      360         1      218        11
246842    8.500           160000      360         1      852         1
246843    8.500            43000      360         1      461        12
246844    7.750           128000      360         1      476         1
246845    8.000           253000      360         1      201         2
246846    8.500            52000      360         1      785         1
246847    8.125           170000      360         1      907         2
246848    8.500           124000      360         1      750         2
246849    7.875            56000      180         1      482        12
246850    7.375           200000      360         1      160         1
246851    7.875           216000      360         1      902         1
246852    8.250           114000      180         1      606         2
246853    7.875           124000      360         1      334        12
246854    7.875           110000      360         1      440        12
246855    7.750           147000      360         1      800        12
246856    8.500           154000      360         1      554         2
246857    8.000           253000      360         1      606         1
246858    7.875            93000      360         1      760         1
246859    7.875           184000      360         1      378         1
246860    7.375            60000      360         1      300        12
246861    8.625            50000      360         2      114        11
246862    7.750            70000      180         1      232         2

        dateYear  paymentMonth  paymentYear chan     ...      dateMonth  \
0           1999             2         2000    R     ...             12
1           2000             3         2000    B     ...              1
2           1999             1         2000    C     ...             11
3           2000             4         2000    R     ...              2
4           2000             4         2000    C     ...              2
5           1999             2         2000    C     ...             12
6           1999             2         2000    C     ...             12
7           1999             9         1999    R     ...              7
8           2000             4         2000    C     ...              2
9           2000             3         2000    R     ...              1
10          2000             4         2000    C     ...              2
11          2000             4         2000    R     ...              2
12          1999             2         2000    R     ...             12
13          2000             3         2000    R     ...              1
14          2000             3         2000    R     ...              1
15          2000             3         2000    R     ...              1
16          1999             2         2000    B     ...             12
17          1999             2         2000    B     ...             12
18          1999             1         2000    C     ...             11
19          2000             4         2000    R     ...              2
20          1999             2         2000    B     ...             12
21          1999             2         2000    B     ...             12
22          2000             3         2000    R     ...              1
23          2000             3         2000    R     ...              1
24          1999             1         2000    R     ...             11
25          1999             1         2000    C     ...             11
26          2000             3         2000    R     ...              1
27          2000             4         2000    R     ...              1
28          1999             1         2000    R     ...             11
29          1999             2         2000    R     ...             12
...          ...           ...          ...  ...     ...            ...
246833      2000             3         2000    B     ...              1
246834      2000             3         2000    R     ...              1
246835      2000             3         2000    C     ...              1
246836      1999             1         2000    R     ...             11
246837      1999             2         2000    C     ...             12
246838      1999             2         2000    R     ...             12
246839      2000             3         2000    C     ...              1
246840      1999             2         2000    R     ...             12
246841      1999             1         2000    B     ...             11
246842      2000             3         2000    C     ...              1
246843      1999             2         2000    R     ...             12
246844      2000             3         2000    R     ...              1
246845      2000             4         2000    R     ...              2
246846      2000             3         2000    R     ...              1
246847      2000             4         2000    C     ...              2
246848      2000             4         2000    C     ...              2
246849      1999             2         2000    B     ...             12
246850      2000             3         2000    B     ...              1
246851      2000             3         2000    C     ...              1
246852      2000             4         2000    B     ...              2
246853      1999             2         2000    R     ...             12
246854      1999             2         2000    B     ...             12
246855      1999             2         2000    R     ...             12
246856      2000             4         2000    C     ...              2
246857      2000             3         2000    R     ...              1
246858      2000             3         2000    R     ...              1
246859      2000             3         2000    R     ...              1
246860      1999             2         2000    R     ...             12
246861      1999             1         2000    R     ...             11
246862      2000             4         2000    B     ...              2

        dateYear  paymentMonth  paymentYear  1   LTV  CLTV  Borrow   DTI  \
0           1999             2         2000  0  79.0   NaN     1.0  62.0
1           2000             3         2000  0  69.0   NaN     1.0  12.0
2           1999             1         2000  0  80.0   NaN     1.0  28.0
3           2000             4         2000  0  95.0   NaN     1.0  27.0
4           2000             4         2000  0  95.0   NaN     1.0  47.0
5           1999             2         2000  0  77.0   NaN     2.0  19.0
6           1999             2         2000  0  95.0   NaN     NaN   NaN
7           1999             9         1999  0  64.0   NaN     2.0  21.0
8           2000             4         2000  0  75.0   NaN     2.0  36.0
9           2000             3         2000  0  61.0   NaN     2.0  34.0
10          2000             4         2000  0  95.0   NaN     1.0  37.0
11          2000             4         2000  0  63.0   NaN     1.0  25.0
12          1999             2         2000  0  74.0   NaN     2.0  17.0
13          2000             3         2000  0  80.0   NaN     1.0  24.0
14          2000             3         2000  0  97.0   NaN     1.0  39.0
15          2000             3         2000  0  73.0   NaN     2.0  29.0
16          1999             2         2000  0  80.0   NaN     1.0  45.0
17          1999             2         2000  0  80.0   NaN     1.0  34.0
18          1999             1         2000  0  95.0   NaN     2.0  34.0
19          2000             4         2000  0  63.0   NaN     1.0  35.0
20          1999             2         2000  0  80.0   NaN     2.0  35.0
21          1999             2         2000  0  95.0   NaN     1.0  40.0
22          2000             3         2000  0  80.0   NaN     2.0  48.0
23          2000             3         2000  0  80.0   NaN     2.0  41.0
24          1999             1         2000  0  47.0   NaN     2.0  49.0
25          1999             1         2000  0  85.0   NaN     1.0  41.0
26          2000             3         2000  0  75.0   NaN     2.0  57.0
27          2000             4         2000  0  80.0   NaN     2.0  56.0
28          1999             1         2000  0  73.0   NaN     2.0  20.0
29          1999             2         2000  0  77.0   NaN     1.0   9.0
...          ...           ...          ... ..   ...   ...     ...   ...
246833      2000             3         2000  0  72.0   NaN     2.0  53.0
246834      2000             3         2000  0  75.0   NaN     2.0  28.0
246835      2000             3         2000  0  75.0   NaN     2.0  15.0
246836      1999             1         2000  0  50.0   NaN     1.0  36.0
246837      1999             2         2000  0  80.0   NaN     2.0  52.0
246838      1999             2         2000  0  87.0   NaN     1.0  57.0
246839      2000             3         2000  0  88.0   NaN     2.0  42.0
246840      1999             2         2000  0  97.0   NaN     1.0  21.0
246841      1999             1         2000  0  80.0   NaN     1.0  40.0
246842      2000             3         2000  0  80.0   NaN     2.0   NaN
246843      1999             2         2000  0  90.0   NaN     1.0  29.0
246844      2000             3         2000  0  75.0   NaN     2.0  31.0
246845      2000             4         2000  0  94.0   NaN     1.0  40.0
246846      2000             3         2000  0  95.0   NaN     1.0  18.0
246847      2000             4         2000  0  67.0   NaN     2.0  35.0
246848      2000             4         2000  0  85.0   NaN     2.0  26.0
246849      1999             2         2000  1  52.0   NaN     1.0  36.0
246850      2000             3         2000  0  67.0   NaN     2.0  34.0
246851      2000             3         2000  0  80.0   NaN     1.0  35.0
246852      2000             4         2000  0  90.0   NaN     1.0  14.0
246853      1999             2         2000  0  80.0   NaN     2.0  25.0
246854      1999             2         2000  0  62.0   NaN     1.0  38.0
246855      1999             2         2000  0  80.0   NaN     2.0  25.0
246856      2000             4         2000  0  80.0  90.0     1.0  17.0
246857      2000             3         2000  0  89.0   NaN     2.0  31.0
246858      2000             3         2000  0  68.0   NaN     2.0  47.0
246859      2000             3         2000  0  80.0   NaN     2.0  35.0
246860      1999             2         2000  0  71.0   NaN     1.0   8.0
246861      1999             1         2000  0  22.0   NaN     1.0   NaN
246862      2000             4         2000  0  78.0   NaN     1.0  20.0

       credit_score
0             763.0
1             633.0
2             750.0
3             686.0
4             706.0
5             737.0
6               NaN
7             793.0
8             750.0
9             646.0
10            676.0
11            518.0
12            781.0
13            646.0
14            603.0
15            749.0
16            761.0
17            747.0
18            695.0
19            802.0
20            696.0
21            721.0
22            772.0
23            706.0
24            799.0
25            604.0
26            676.0
27            770.0
28            715.0
29            751.0
...             ...
246833        733.0
246834        796.0
246835        725.0
246836        751.0
246837        680.0
246838        592.0
246839        666.0
246840        711.0
246841        768.0
246842        731.0
246843        740.0
246844        722.0
246845        735.0
246846        739.0
246847        703.0
246848        598.0
246849        731.0
246850        793.0
246851        708.0
246852        551.0
246853        789.0
246854        698.0
246855        762.0
246856        709.0
246857        722.0
246858        677.0
246859        667.0
246860        766.0
246861        704.0
246862        742.0

[246863 rows x 33 columns]

In [14]:
# y = new_val['closureDate'].values
# x = new_val.drop(['closureDate'],axis = 1).values


# # features = [[1,3,4,5],[2,67,1,4],[3423,8675,3123,554],[33,67,885,23],[313,367,88512,1223]]

# # # classification = [[1],[0],[1],[0]]
# # classification = [ 1,0,1,1,1]

# # x = [ 1,2]

def run_classfier(data):
    columns = data.columns[data.isnull().any()]
    for each in columns:
        y = data.loc[data[each].notnull(), each].values
        x = data.loc[data[each].notnull()].drop(columns,axis=1).values

        x_test = data.loc[data[each].isnull()].drop(columns,axis=1).values
        if data[each].dtypes == 'object':
            print each 
# random_forest_classifier(x,y)

In [24]:
# y = new_val['closureDate'].values
# x = new_val.drop(['closureDate'],axis = 1).values

# print len(x)
# print x
print new_val['address']
y = new_val['closureDate'].values
# new_val1 = new_val.drop(['Y','CLTV','TLV'],axis=1, inplace=True)
X = new_val['address'].values
# X = new_val.loc[:, new_val.columns != 'closureDate']

random_forest_classifier(X,y)

        address  address
0           173      173
1           208      208
2           630      630
3           316      316
4           335      335
5           483      483
6           347      347
7           980      980
8            63       63
9           300      300
10          633      633
11          286      286
12          346      346
13          334      334
14          491      491
15           70       70
16          977      977
17          450      450
18          917      917
19          871      871
20          451      451
21          330      330
22          812      812
23          442      442
24          300      300
25          891      891
26          462      462
27          770      770
28          912      912
29          959      959
...         ...      ...
246833      920      920
246834      379      379
246835      283      283
246836      306      306
246837      815      815
246838       40       40
246839      832      832
246840      330      330
246841      218      218
246842      852      852
246843      461      461
246844      476      476
246845      201      201
246846      785      785
246847      907      907
246848      750      750
246849      482      482
246850      160      160
246851      902      902
246852      606      606
246853      334      334
246854      440      440
246855      800      800
246856      554      554
246857      606      606
246858      760      760
246859      378      378
246860      300      300
246861      114      114
246862      232      232

[246863 rows x 2 columns]

ValueError: Unknown label type: 'unknown'

In [ ]:
for each in range(0, len(x)):
    print len(x[each])
#         print x[each][i]

In [16]:
print new_val['closureDate']

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
         ..
246833    0
246834    0
246835    0
246836    0
246837    0
246838    0
246839    0
246840    0
246841    0
246842    0
246843    0
246844    0
246845    0
246846    0
246847    0
246848    0
246849    1
246850    0
246851    0
246852    0
246853    0
246854    0
246855    0
246856    0
246857    0
246858    0
246859    0
246860    0
246861    0
246862    0
Name: closureDate, Length: 246863, dtype: object